body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;

  background-color: #741cbb;
  /*  background: url("landscapeTest.png") no-repeat; */
  background: url("landscapeTest2.png") no-repeat;
  /* background: rgb(92, 9, 95); */
  background-size: cover;
  background-position: center;
  color: white;

  /*
  background-color: linear-gradient(to top, #741cbb,#EEB1FF)
  color: white;
  background-size: cover;*/
}
